.banner {
    width:100%;
    height: 100vh;
    left:0;
    position: relative;
    top: 0;
    transition: width 2s linear 1s;
  

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.banner-button__left {
    position: absolute;
    color:white;
    transform: scale(1.6);
    top: 95%;
    left: 20%;
    
}
.banner-button__right {
    position: absolute;
    color:white;
   transform: scale(1.6);
    top: 95%;
    left: 80%;
   
}