.login-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1580820267682-426da823b514?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    color: white;

    
}
.login-form{
    max-width: 500px;
    width:40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form__group {
    display: flex;
    flex-direction: column;
    line-height:1rem;
    width:100%;
    max-width: 200px;
    

    
}
.login-form__group input {
    border-color: rgb(169, 126, 18);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    
    box-shadow:none;
    line-height:1.2rem;
    text-align: center;
}
.login-form__group input:focus {
   outline: none;
   color:rgb(169, 126, 18);
}
.login-form__btn {
    background-color:#284D43;
    color: white;
    border: none;
    padding: 0.4rem;
    width: 8rem;
    height: 2rem;
    margin: 1rem auto;
    border-radius: 10px;
    width:8rem;

}